<h1 style="text-align: center;">{{title}}</h1>
<div class="container" style="display:flex; gap:15px">
  {{#each dictionary}}

    <div class="card" style="width: 18rem;">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqwMPBN7fzjisOWSjapzsSWjdbt9fV0AFwUA&s"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">{{term}}</p>
      </div>
    </div>

  {{/each}}
</div>